* {

    margin: 0;
    padding: 0;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  /*  font-family: Roboto, sans-serif; */

}

/* ------------------------------------ scroll-up -------------------------------*/
body {
    margin: 0;
}

.scroll-up {
    background: linear-gradient(black, #5e5d5d);
    position: fixed;
    right: 50px;
    bottom: 50px;
    z-index: 1000;
    width: 50px;
    height: 50px;
    color: #dcdcdc;
    cursor: pointer;
    visibility: hidden;
    border-radius: 50px;
    box-shadow: inset 0 0 0 4px #dcdcdc;
    transition: .2s;
    opacity: 50%;
    transform: translateY(25px);
}
.scroll-up:hover {
}

.scroll-up::before {
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    font-size: 30px;
    content: '↑';
}

.scroll-up:hover {
    color: #4da6ff;
}

.scroll-up--active {
    visibility: visible;
    opacity: 1;
    transform: translateY(0);
}

.scroll-up__svg-path {
    box-sizing: border-box;
    fill: none;
    stroke: #4da6ff;
    stroke-width: 4px;
    transition: .2s;
}

/*
.scrollUp {
    display: none;
    position: absolute;
    right: 4%;
    bottom: 4%;
    outline: none;
}
.scrollUp:hover,
.scrollUp:focus {
    filter: brightness(1.1);
    transition: 0.5s;
}

.scrollUp::before,
.scrollUp::after {
    content: '';
    position: absolute;

}
.scrollUp-img {
    width: 60px;
}
 */

/* ------------------------------------ scroll-up-end -------------------------------*/

header {

}

body{
    min-width: 320px;
}
article {
    padding-top: 100px;
}
/* ------------- social icons -------------- */
.social-icons-f-y-i {
    padding-left: 30px;
}
.social-icons {
    background-color: #525252;
    width: 100%;
    height: 41px;
}
.a-social-icons {
    padding: 10px;
    display: block;
    float: left;
    color: white;
}
/* ------------- social icons - end -------------- */

#top-menu {
    display: block;
    width: 100%;
    float: left;
    background-image: url("images/top_menu_background_img.jpg");
    background-size: cover;
    background-position: center;
    height: 100px;
    position: absolute;
}

#top-menu-transparent {
    background: rgb(0,0,0,0.4);
    height: 100px;
}

#top-menu-logo {
    padding-top: 5px;
    margin-left: 5%;
    float: left;
    border-radius: 50%;
    height: 90px;
    width: auto;
}

/*----------------------------------------------------- TOP-HEADER-MENU----------------------------------------------------------------------- */

.dws-menu {
    padding-top: 25px;
}

/* Скроем маркеры у списков: */
.dws-menu ul,
.dws-menu ol{
    list-style: none;
}

/* Списки отобразим по горизонтали при помощи
display: flex, и делаем его по центру: */
.dws-menu > ul{
    display: flex;
    justify-content: center;

}

/*
Оформим наше меню, зададим цвет кнопок, шрифт и т.д.
Отбираем ссылки nav > ul li , и делаем их блочными элементами.
Задаем фон меню, пропишем отступы, укажем размер, цвет,
уберем подчеркивание, и сделаем заголовки заглавными буквами.
 */
.dws-menu > ul li a{
    display: block;
    background: #ececed;
    padding: 15px 30px 15px 40px;
    font-size: 14px;
    color: #454547;
    text-decoration: none;
    text-transform:uppercase;
}

/* Затем позиционируем иконки, спискам присвоим
position: relative; для дальнейшее центровки иконок: */
.dws-menu > ul li{
    position: relative;
}

/*
Далее отбираем иконки, позиционируем их абсолютно,
отступ сверху делаем в 15 пик., с лева 12 пик, увеличим размер до 18 пик.
*/
.dws-menu > ul li > a i{
    margin-top: 6px;
    position: absolute;
    top: 15px;
    left: 12px;
    font-size: 18px;
}

/*
Назначим спискам разделитель в виде бордюрчика, отбираем первый элемент LI,
задаем бордюр. Отбираем последний элемент LI присваиваем ему аналогичный бордюр.
 */
.dws-menu > ul li:first-child{
    border-left: 1px solid #b2b3b5;
}
.dws-menu > ul li:last-child{
    border-right: 1px solid #babbbd;
}

/*
Делаем разделители спискам LI:
 */
.dws-menu > ul li{
    position: relative;
    border-right: 1px solid #c7c8ca;
}

/*
-----------Анимируем горизонтальное меню при наведение-------------------
 */

/*
Отбираем ссылки и назначаем цвет блоку, и цвет самой ссылки с иконкой присвоим белый.
Давайте добавим еще темную тень. С помощью transition в 0.3 сек сделаем плавное появление:
 */
.dws-menu li a:hover{
    background: #454547;
    color: #ffffff;
    box-shadow: 1px 5px 10px -5px black;
   /* transition: all 0.3s ease;*/
}

/*
И что бы этот эффект плавно исчезал, добавим этот стиль к ссылке в покое:
 */
.dws-menu > ul li a{
    display: block;
    background: #ececed;
    padding: 15px 30px 15px 40px;
    font-size: 14px;
    color: #454547;
    text-decoration: none;
    text-transform:uppercase;
   /* transition: all 0.3s ease;*/
}

/*
------------- Описываем выпадающее меню --------------
 */

/*
Отбираем второй список и присвоим ему position: absolute;, зададим минимальную ширину в 150 пик.
 */
/*sub menu*/
.dws-menu li ul{
    position: absolute;
    min-width: 150px;
}

/*
Пропишем спискам border в 1 пик.
 */
.dws-menu li > ul li{
    border: 1px solid #c7c8ca;
}

/*
Для ссылок в подменю установим отступы в 10 пик.,
уберем трансформацию текста и фон сделаем на пару тонов темнее background: #e4e4e5;.
 */
.dws-menu li > ul li a{
    padding: 10px;
    text-transform: none;
    background: #e4e4e5;
}

/*
Они вывелись, но скрыты под основным меню, теперь position: absolute;
вложенного UL и сдвинем его на 150 пик. в сторону:
 */
.dws-menu li > ul li ul{
    position: absolute;
    right: -150px;
    top: 0;
}

/*
Далее сделаем появление подменю при наведение на основные пункты верхнего меню,
для этого добавляем display: none; и тем самым скрываем все внутренние пункты.
 */
/*sub menu*/
.dws-menu li ul{
    position: absolute;
    min-width: 150px;
    display: none;
}

/*
А для их появления отберем списки при наведении и отобразим их при помощи display: block;.
 */
.dws-menu li:hover > ul{
    display: block;
}

.dws-menu > ul li a{
    display: block;
    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#c9c9c9+0,f6f6f6+2,c4c5c7+98,757577+100;Custom+3 */
    background: #c9c9c9; /* Old browsers */
    background: -moz-linear-gradient(top,  #c9c9c9 0%, #f6f6f6 2%, #c4c5c7 98%, #757577 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(top,  #c9c9c9 0%,#f6f6f6 2%,#c4c5c7 98%,#757577 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom,  #c9c9c9 0%,#f6f6f6 2%,#c4c5c7 98%,#757577 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#c9c9c9', endColorstr='#757577',GradientType=0 ); /* IE6-9 */

    padding: 15px 30px 15px 40px;
    font-size: 14px;
    color: #454547;
    text-decoration: none;
    text-transform:uppercase;
   /* transition: all 0.3s ease;*/

}

.dws-menu li a:hover{
    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#e0e1e5+0,454547+2,454547+98,e0e1e5+100 */
    background: #e0e1e5; /* Old browsers */
    background: -moz-linear-gradient(top,  #e0e1e5 0%, #454547 2%, #454547 98%, #e0e1e5 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(top,  #e0e1e5 0%,#454547 2%,#454547 98%,#e0e1e5 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom,  #e0e1e5 0%,#454547 2%,#454547 98%,#e0e1e5 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e0e1e5', endColorstr='#e0e1e5',GradientType=0 ); /* IE6-9 */

    color: #ffffff;
    box-shadow: 1px 5px 10px -5px black;
    /*transition: all 0.3s ease;*/

}
/*-------------------------------------------------------------- TOP-HEADER-MENU-END----------------------------------------------------------------------- */


/*------------------------------------------------------ FOOTER----------------------------------------------------------------------------------------- */
footer {
    background-image: url("images/footer-background.jpg");
    width: auto;
    height: 120px;
    background-size: cover;
    background-position: center;
}
/*----------------------------------------------------- FOOTER-END--------------------------------------------------------------------------------------- */

/* ------------- MEDIA -------------------------- MEDIA -------------------------- MEDIA -------------------------- MEDIA -------------*/


    @media all and (max-width: 1100px) {
    /*
    В заключении допишем ингредиент кнопки как у всех изначально.
    Для этого открою основной стиль, скопирую данный ингредиент и вставим в @media файл.
    */
    .dws-menu label.toggleMenu{
        background: #c9c9c9; /* Old browsers */
        background: -moz-linear-gradient(top,  #c9c9c9 0%, #f6f6f6 2%, #c4c5c7 98%, #757577 100%); /* FF3.6-15 */
        background: -webkit-linear-gradient(top,  #c9c9c9 0%,#f6f6f6 2%,#c4c5c7 98%,#757577 100%); /* Chrome10-25,Safari5.1-6 */
        background: linear-gradient(to bottom,  #c9c9c9 0%,#f6f6f6 2%,#c4c5c7 98%,#757577 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
        filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#c9c9c9', endColorstr='#757577',GradientType=0 ); /* IE6-9 */

        display: none;
        padding: 15px 40px;
        text-transform: uppercase;
        font-size: 14px;
        cursor: pointer;
        position: relative;
    }
}





@media all and (max-width: 540px) {
    .social-icons {
        height: 82px;
    }
    #icon-mail {
        padding-left: 1px;
    }
    #icon-mail {
        padding-left: 0;
        margin-left: 0;
    }
    #mail-icon-email {
        display: block;
        float: left;
        width: 100%;
    }
}



/* ------------- MEDIA -------------------------- MEDIA -------------------------- MEDIA -------------------------- MEDIA ------------- */